
@{
    ViewBag.Title = "Log";
}

<div ng-app="logsApp">
    
    <div class="body-content container">
        <div ng-controller="logsCtrl">
            <ng-view></ng-view>
        </div>
    </div>
</div>
