<div class="content">
    <div class="content-nav col-sm-12">
        <div class="navbar navbar-default">
            <ul class="log-nav nav navbar-nav">
                <li><a ng-click="GetMessage()">Messages</a></li>
                <li class="active"><a ng-click="GetLogs()">Log</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <label class="search-label">Filter</label>
        <div class="search-log search">
            <input ng-model="messageId" class="search-input" type="text" value="" placeholder="Message Id" />
            <a ng-click="SearchMessageId(messageId)" class="search-btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
        </div>
        <a ng-click="RefreshLogs(logsPager.totalItems, 1, selectLogsSize, false)" class="refresh btn btn-primary"><i class="glyphicon glyphicon-refresh"></i>Refresh</a>
        <div class="select pull-right">
            <label> Page Size: </label>
            <select class="form-control" ng-change="ChangeLogsSize(logsPager.totalItems,1, selectLogsSize)" ng-model="selectLogsSize" ng-options="item for item in logsPageSize track by item"></select>
        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead class="table-thead">
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th><a class="sort" ng-click="SortLogsTime(logsPager.totalItems, 1, selectLogsSize, logsBool)">Time Stamp <i class="glyphicon glyphicon-arrow-down" id="logsArrow"></i></a></th>
                    <th>Message Id</th>
                    <th>Level</th>
                    <th>Application</th>
                </tr>
            </thead>
            <tbody class="table-tbody">
                <tr ng-repeat="log in logs">
                    <td>{{log.Id}}</td>
                    <td><a data-toggle="modal" data-target="#myModal" ng-click="GetException(log.Id)">{{log.Text}}</a></td>
                    <td>{{log.TimeStamp | Date | date:"dd/MM/yyyy'at'h:mma"}}</td>
                    <td>{{log.MessageId}}</td>
                    <td>{{log.Level}}</td>
                    <td>{{log.Application}}</td>
                </tr>
            </tbody>
        </table>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-exception modal-dialog">
                <div ng-if="exception.length != 0" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Exception info</h4>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>HResult</td>
                                <td>{{exception.HResult}}</td>
                            </tr>
                            <tr>
                                <td>HelpLink</td>
                                <td>{{exception.HelpLink}}</td>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td>{{exception.Message}}</td>
                            </tr>
                            <tr>
                                <td>Source</td>
                                <td>{{exception.Source}}</td>
                            </tr>
                            <tr>
                                <td>StackTrace</td>
                                <td class="longText">{{exception.StackTrace}}</td>
                            </tr>
                            <tr>
                                <td>TargetSite</td>
                                <td>{{exception.TargetSite}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="exception.length == 0" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">No exception info</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-footer">
    <div class="pages col-sm-12">
        <ul ng-if="logsPager.pages.length" class="pagination">
            <li ng-class="{disabled:logsPager.currentPage === 1}">
                <a ng-click="SetLogsPage(logsPager.totalItems, 1, selectLogsSize)">First</a>
            </li>
            <li ng-class="{disabled:logsPager.currentPage === 1}">
                <a ng-click="SetLogsPage(logsPager.totalItems, logsPager.currentPage-1, selectLogsSize)">Previous</a>
            </li>
            <li ng-repeat="page in logsPager.pages" ng-class="{active:logsPager.currentPage === page}">
                <a ng-click="SetLogsPage(logsPager.totalItems, page, selectLogsSize )">{{page}}</a>
            </li>
            <li ng-class="{disabled:logsPager.currentPage === logsPager.totalPages}">
                <a ng-click="SetLogsPage(logsPager.totalItems, logsPager.currentPage+1 , selectLogsSize)">Next</a>
            </li>
            <li ng-class="{disabled:logsPager.currentPage === logsPager.totalPages}">
                <a ng-click="SetLogsPage(logsPager.totalItems, logsPager.totalPages, selectLogsSize)">Last</a>
            </li>
        </ul>
    </div>
</div>
 
